{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Seleccione un género</h1>
    <form method="post">
        {% csrf_token %}
        <select name="genero">
            {% for genero in generos %}
                <option value="{{ genero }}">{{ genero }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Mostrar animes">
    </form>
    <div class="container mt-4">
    {% if selected_genre %}
        <h3>Animes del género {{ selected_genre }}: {{ total }}</h3>
        {% for tipo_anime in tipos_anime %}
            <h4>{{ tipo_anime.tipo }}</h4>
            <ul class="list-group">
                {% for anime in tipo_anime.animes %}
                    <li class="list-group-item">
                        <strong>{{ anime.name }}</strong>
                        <p>Género: {{ anime.genre }}</p>
                        <p>Tipo: {{ anime.type }}</p>
                        <p>Episodios: {{ anime.total_episodes }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
